<div class="row text-center p-3">
  <div class="col">
    <h1 class="display-6">Új felhasználó regisztrálása</h1>
  </div>
</div>
<div class="row text-center">
  <div class="col border shadow-lg">
    <button class="btn-primary m-3" type="button" (click)="showDialog()" pButton icon="pi pi-info-circle" label="Show">
      Register User
    </button>
    <p-dialog  [(visible)]="display" [modal]="true" [responsive]="true"
              [style]="{minWidth: '200px'}" [minY]="70"
              [maximizable]="true" [baseZIndex]="10000">

      <div class="row">
        <div class="col-5">First Name:</div>
        <div class="col-5">
          <input class="w-100" type="text" pInputText [(ngModel)]="inputBody.name.first"/></div>
      </div>
      <div class="row">
        <div class="col-5"> Last Name:</div>
        <div class="col-5">
          <input class="w-100" type="text" pInputText [(ngModel)]="inputBody.name.last"/></div>
      </div>
      <div class="row">
        <div class="col-5"> Age:</div>
        <div class="col-5">
          <input class="w-100" type="number" pInputNumber [(ngModel)]="inputBody.age"/></div>
      </div>
      <div class="row">
        <div class="col-5"> Address:</div>
        <div class="col-5">
          <input class="w-100" type="text" pInputText [(ngModel)]="inputBody.address"/></div>
      </div>
      <div class="row">
        <div class="col-5"> Email:</div>
        <div class="col-5">
          <input class="w-100" type="text" pInputText [(ngModel)]="inputBody.email"/></div>
      </div>
      <div class="row">
        <div class="col-5"> Phone:</div>
        <div class="col-5">
          <input class="w-100" type="text" pInputText [(ngModel)]="inputBody.phone"/></div>
      </div>

      <p-footer>
        <button class="btn-success m-3" type="button" pButton icon="pi pi-check" (click)="addUser()" label="Yes">Yes
        </button>
        <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No"
                class="btn-danger m-3">No
        </button>
      </p-footer>
    </p-dialog>

  </div>
</div>
